<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- The following can be added to a tag  -->

      <!-- [queryParams]="{ allowEdit: 1 }"
      [fragment]="'loading'" -->

      <a
        [routerLink]="['/servers', server.id]"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- The following router is for editserver or single server -->
    <router-outlet></router-outlet>
  </div>
</div>
